<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporte de Alumnos Inscritos</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="css/style_general.css" />
    <link rel="stylesheet" href="css/style_report.css" />
  </head>

  <body>
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <a href="/">
            <img src="salsaCandela.png" alt="LogoSalsaCandela" />
          </a>
        </div>
        <div class="container">
          <!-- Search section -->
          <form action="/search_results" method="post" id="search-form">
            <h1>Reporte de alumnos Inscritos:</h1>
            <!-- Section  to Read quotes from Database and write them to the DOM-->
            <section data-position="quotes">
              <table id="report-table" class="report-table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Curso</th>
                    <th>Sucursal</th>
                    <th>Horario</th>
                    <th>Pago</th>
                    <th>Suscripcion</th>
                  </tr>
                </thead>
                <tbody>
                  <% quotes.forEach(function(object, index) { %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= object.first_name %></td>
                    <td><%= object.email %></td>
                    <td><%= object.Age %></td>
                    <td><%= object.sexo %></td>
                    <td><%= object.curso %></td>
                    <td><%= object.sucursal %></td>
                    <td><%= object.horario %></td>
                    <td><%= object.forma_pago %></td>
                    <td><%= object.suscripcion %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </section>
          </form>
          <div class="button-container">
            <button id="downloadButton">Download as CSV</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/report.js"></script>
  </body>
</html>
